{% extends 'layout' %}

{% block content %}
<div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Levesek
                    <span class="label label-primary pull-right">Összes megtekintése</span>
                </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Gulyásleves
                        </li>
                        <li class="list-group-item">
                           Tojásleves
                        </li>
                        <li class="list-group-item">
                            Rizsleves
                        </li>
                    </ul>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Levesek
                    <span class="label label-primary pull-right">Összes megtekintése</span>
                </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Gulyásleves
                        </li>
                        <li class="list-group-item">
                           Tojásleves
                        </li>
                        <li class="list-group-item">
                            Rizsleves
                        </li>
                    </ul>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Levesek
                    <span class="label label-primary pull-right">Összes megtekintése</span>
                </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Gulyásleves
                        </li>
                        <li class="list-group-item">
                           Tojásleves
                        </li>
                        <li class="list-group-item">
                            Rizsleves
                        </li>
                    </ul>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Levesek
                    <span class="label label-primary pull-right">Összes megtekintése</span>
                </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Gulyásleves
                        </li>
                        <li class="list-group-item">
                           Tojásleves
                        </li>
                        <li class="list-group-item">
                            Rizsleves
                        </li>
                    </ul>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Levesek
                    <span class="label label-primary pull-right">Összes megtekintése</span>
                </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Gulyásleves
                        </li>
                        <li class="list-group-item">
                           Tojásleves
                        </li>
                        <li class="list-group-item">
                            Rizsleves
                        </li>
                    </ul>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Levesek
                    <span class="label label-primary pull-right">Összes megtekintése</span>
                </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Gulyásleves
                        </li>
                        <li class="list-group-item">
                           Tojásleves
                        </li>
                        <li class="list-group-item">
                            Rizsleves
                        </li>
                    </ul>
            </div>
        </div>
    </div>
{% endblock %}


